/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "EBGaramondSC12-Regular";

  src: url("./EBGaramondSC12-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
