.App {
  color: white;
  background-color: black;
}

.body {
  position: relative;
}

.body .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/Background\ v1.0\ Color2.jpg");
  background-size: cover;
  filter: blur(3px);
}

.body .content {
  position: relative;
  z-index: 1;
}
